.contenedor {
  background-color: #f0d4d0;
  border: solid 5px #ebc7c1;
  color: #EEA1A1;
  width: 100%; }
  .contenedor h1 {
    font-size: 50px;
    color: #EEA1A1;
    text-align: center;
    background-color: #f0d4d0;
    margin-top: 0% 0%;
    width: 100%;
    text-align: center;
    margin-left: 0%;
    border: #ebc7c1 solid 4px;
    padding: 15px; }
  .contenedor h2 {
    font-size: 25px;
    color: #EEA1A1;
    text-align: center;
    background-color: #f0d4d0;
    width: 100%;
    text-align: center;
    margin-left: 0%;
    border: #ebc7c1 solid 4px;
    padding: 15px; }

.row {
  width: 100%;
  display: flex;
  margin: 1%;
  padding-left: 5%; }
  .row .logo {
    border: 5px #ebc7c1  solid;
    width: 50%;
    height: 50%;
    margin: 0% 25%;
    transition: all 2s; }
    .row .logo:hover {
      width: 70%;
      height: 70%;
      padding: 1,5%;
      background-color: aqua; }
  .row .carrito {
    border: 5px #ebc7c1  solid;
    width: 50%;
    height: 50%;
    margin: 0% 25%;
    transition: all 2s; }
    .row .carrito:hover {
      width: 70%;
      height: 70%;
      padding: 1,5%;
      background-color: aqua; }

ul {
  font-size: large;
  display: flex; }

li {
  direction: row;
  align-content: space-around; }
  li:hover {
    background-color: #f0d4d0;
    border: solid 5px #ebc7c1;
    transform: skewY(1deg); }

.estampado {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.pretina_ancha {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.magenta {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.costado {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.braVerde {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.braAzul {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.braTurqueza {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.pes1 {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.pes2 {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.pes3 {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid; }

.calendario {
  background: lightblue;
  border-radius: 100%;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 5px #ebc7c1 solid;
  width: 20%; }

.leggins {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.brasier {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.pescadores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.sub2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.izquierda {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 30px; }

.borde {
  border: #ebc7c1 double 10px;
  padding: 3%;
  color: #EEA1A1; }

.derecha {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px; }

.sub1 {
  border: #ebc7c1 solid 2px;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  background-color: #f0d4d0;
  color: #EEA1A1; }

.sub2 {
  border: #ebc7c1 solid 2px;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  background-color: #f0d4d0;
  color: #EEA1A1;
  font-size: large;
  margin-top: 2%; }

.footer {
  text-align: center;
  border: solid 5px #ebc7c1;
  background-image: linear-gradient(to top, #EEA1A1, #f0d4d0);
  margin: 5% 1%;
  padding: 5%;
  color: #EEA1A1; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .row .logo {
    width: 75%;
    height: 75%;
    margin: 0% 12,5%; }
  .row .carrito {
    width: 75%;
    height: 75%;
    margin: 0% 10%; }
  .row .subtitulo {
    display: none; }
  .contenedor h1 {
    font-size: 25px;
    margin-top: 8%; }
  .segunda_parte {
    display: none; } }
