body {
    font-family: 'Poppins', sans-serif; 
    border: solid 10px #fcd487;
    height: 100%;
   }

h1 {font-size:  200px; 
    color:#fcd487; 
  text-align:center  ;
  background-color:#f2b8a0 ;
  margin-top: 0% 0%; 
  width: 100%;
  text-align: center; 
  border: #fcd487 solid 4px;
  padding: 30px;
  ;}
  
  h2 {font-size:  150px; 
    color:#fcd487; 
    text-align:center;
    background-color:#f2b8a0;
     width: 100%;
     text-align: center;
     margin-left: 0%;
     border: #fcd487 solid 4px; }

     

.h3 {color: #fcd487;
    text-align: center;
   background-color: #f2b8a0;
  border: #fcd487 solid 4px;
  height: 30%; margin:5% 1%;
 ;}

li:hover {background-color:#fcd487;
    color: #fcd487;
    transform: skewY(1deg);
    border: solid 5px #fcd487}
.logo {
    border: 5px #fcd487  solid;
    width: 50%;
    height: 50%;
    transition: all 2s;}
.logo:hover  {width: 80%;height: 80%;
    padding: 0.5%;
    background-color: aqua;} 

  .carrito {
    border: 5px #fcd487  solid;
    width: 50%;
    height: 50%;
    transition: all 2s;
    }
.carrito:hover  {width: 80%;height: 80%;
    padding: 0.5%;
    background-color: aqua;} 
  

.main {font-size: x-large;
background-color:#f2b8a0 ;
border: #fcd487 5px solid;
padding: 30px ; 

margin: 5% 1%;
} 

.li-1  {list-style-type: none;color:#fcd487;}
.li-2 {list-style-type: none;color: #fcd487;}
.li-3 {list-style-type: none;color: #fcd487;}


.centrado {
    text-align: center;
    vertical-align: middle;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

.logo { width: 80%; height: 80%; border:5px #fcd487  solid; }
.carrito { width: 80%; height: 80%; border:5px #fcd487  solid;}
.subtitulo {display:none;}
.main {font-size: small;}
}


footer { background-color:#f7a398;
    text-align: center;
    border: solid 5px #fcd487;
    background-image: linear-gradient(to top,#fcd487 ,#EEA1A1);
    margin:5% 1% 5% 1%;
    text-align: center;
    padding: 5%;
    
}
.copy { font-size: small;
color:#fcd487;
background-color: #EEA1A1;}
